/* Made with love by MILET in 2022.  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Aici incepe navbarul */

.navbar {
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(to right, #ed213a, #93291e);
  padding-bottom: 1rem;
  padding-top: 1rem;
  height: 5rem;
  z-index: 2;
  margin-bottom: 1rem;
}

.main-nav {
  list-style-type: none;
  display: none;
  z-index: 2;

}

.nav-links,
.logo {
  text-decoration: none;
  color: #ffffff;
}


.main-nav li {
  text-align: center;
  margin: 1.5rem auto;
}

.logo {
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 2em;
}

#login{
    font-weight:800;
}

.navbar-toggle {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
 .nav-active {
   position: relative;
  display: flex;
  flex-direction:column;
  background-color: #222;
} 

/* Aici se termina cu navbarul  */


.tabel{
 
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

#show_button {
  padding:10px;
  border-radius:10px;
  border:0.1px solid black;
  background: url(https://media.istockphoto.com/vectors/bokeh-background-vector-id1162684930?b=1&k=20&m=1162684930&s=612x612&w=0&h=8-s3pXD8wiNf5hBNil7XNG5N98OQ6K3T9WuFBOErv5k=);
  color:white;
}

#formular{
  margin-top:2em;
  margin-bottom: 2em;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.container{
  background-color:rgba(230, 64, 64, 0.37);
  width:30%;
  padding-top: 2em;
  border-radius:20px;
}

#input-submit{
  padding:10px;
  border-radius:10px;
  border:0.1px solid black;
  background: url(https://media.istockphoto.com/vectors/bokeh-background-vector-id1162684930?b=1&k=20&m=1162684930&s=612x612&w=0&h=8-s3pXD8wiNf5hBNil7XNG5N98OQ6K3T9WuFBOErv5k=);
  color:white;
  margin-bottom: 2em;
}

#formular input
{
  border-radius: 10px;
  border:none;
}

/* Navbar Media querry  */

 @media screen and (min-width: 768px) {
  .navbar {
    display: flex;
     justify-content: space-between; 
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  } 

  .main-nav li {
    margin: 0;
  }
  
  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #ffffff;
  }

} 

@media screen and (max-width: 768px){

    .main-nav li  {
        text-align: center;
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;

      }

      .main-nav{
        margin-top:4em;
      }

      .container{
        width: 70%;
      }
}