<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
        </script>
    <title>Login Page</title>
</head>
<body>
        <!--navbar-->
        <nav class="navbar">
            <span class="navbar-toggle" id="js-navbar-toggle">
              <i class="fas fa-bars"></i>
            </span>
           
            <ul class="main-nav" id="js-menu">
              <li>
                <a href="../index.html" class="nav-links">Home</a>
              </li>
                   <li>
                <a href="#/" class="nav-links">Categories</a>
              </li>
              <li>
                <a href="#/" class="nav-links">Fresh News</a>
              </li>
              <li>
                <a href="#/" class="nav-links">Contact Us</a>
              </li>
        
              <li>
                <a href="./login-page/login.html" class="nav-links" id="login">LOGIN</a>
              </li>
        
             
            </ul>
            <a href="#/" class="logo">Echipa 3 News</a>
          </nav>
               <!--sfarsit navbar-->

               <div class="container">
                <div class="frame">
                  <div class="nav">
                    <ul class="links">
                      <li class="signin-active" id="signIN"><a class="btn">Sign in</a></li>
                      <li class="signup-inactive"><a class="btn">Sign up </a></li>
                    </ul>
                  </div>
                  <div ng-app ng-init="checked = false">
                              <form class="form-signin" action="" method="post" name="form">
                        <label for="username">Username</label>
                        <input class="form-styling" type="text" name="username" placeholder=""/>
                        <label for="password">Password</label>
                        <input class="form-styling" type="text" name="password" placeholder=""/>
                        <input type="checkbox" id="checkbox"/>
                        <label for="checkbox" ><span class="ui"></span>Keep me signed in</label>
                        <div class="btn-animate">
                          <a class="btn-signin">Sign in</a>
                        </div>
                              </form>
                      
                              <form class="form-signup" action="" method="post" name="form">
                        <label for="fullname">Full name</label>
                        <input class="form-styling" type="text" name="fullname" placeholder=""/>
                        <label for="email">Email</label>
                        <input class="form-styling" type="text" name="email" placeholder=""/>
                        <label for="password">Password</label>
                        <input class="form-styling" type="text" name="password" placeholder=""/>
                        <label for="confirmpassword">Confirm password</label>
                        <input class="form-styling" type="text" name="confirmpassword" placeholder=""/>
                        <a ng-click="checked = !checked" class="btn-signup">Sign Up</a>
                              </form>
                    
                    
                
              </div>

<script src="../assets/scripts/login.js"></script>
</body>
</html>